MaterialListEx/gzip/** linguist-vendored
MaterialListEx/zlib/** linguist-vendored
MaterialListEx/nlohmann/** linguist-vendored
MaterialListEx/xxhash/** linguist-vendored
MaterialListEx/*.html linguist-vendored
